<div class="container mb-5">
  <h2 class="mt-2 text-center">{{applicationId? 'Edit': 'Registration'}}</h2>

  <form class="col mt-4" (ngSubmit)="onSend()" #registerForm="ngForm">
    <div class="mb-3 col-5 mt-3">
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Name"
        required
        ngModel
        #nameInput="ngModel"
      >
      <small
        *ngIf="nameInput.touched && nameInput.errors?.required"
        class="form-text invalid-form-text">
        Enter your name
      </small>
    </div>
    <div class="mb-3 col-5">
      <input
        type="text"
        class="form-control"
        name="surname"
        placeholder="Surname"
        required
        ngModel
        #surnameInput="ngModel"
      >
      <small
        *ngIf="surnameInput.touched && surnameInput.errors?.required"
        class="form-text invalid-form-text">
        Enter your surname
      </small>
    </div>
    <div class="mb-3 col-5">
      <input
        type="text"
        class="form-control"
        name="patronymic"
        placeholder="Patronymic"
        required
        ngModel
        #patronymic="ngModel"
      >
      <small
        *ngIf="patronymic.touched && patronymic.errors?.required"
        class="form-text invalid-form-text">
        Enter your patronymic
      </small>
    </div>
    <div class="mb-3 col-5">
      <input
        type="text"
        class="form-control"
        name="phoneNumber"
        placeholder="Phone number"
        required
        ngModel
        appPhone
        #phoneInput="ngModel"
      >
      <small
        *ngIf="phoneInput.touched && phoneInput.errors?.required"
        class="form-text invalid-form-text d-block">
        Enter your phone number
      </small>
      <small
        *ngIf="phoneInput.touched && phoneInput.errors?.phoneNumber"
        class="form-text invalid-form-text">
        Enter valid phone number
      </small>
      <div class="form-text">
        Enter the phone number in the format +996-XXX-YYYYYY
      </div>
    </div>
    <div class="mb-3 col-5">
      <input
        type="text"
        class="form-control"
        name="workOrStudy"
        placeholder="Place of work or study"
        required
        ngModel
        #workOrStudy="ngModel"
      >
      <small
        *ngIf="workOrStudy.touched && workOrStudy.errors?.required"
        class="form-text invalid-form-text">
        Enter your place of work or study
      </small>
    </div>
    <div>
      <div class="form-check mt-3">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="flexRadioDefault1"
          value="male"
          required
          ngModel
        >
        <label class="form-check-label" for="flexRadioDefault1">
          Male
        </label>
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="flexRadioDefault2"
          value="female"
          required
          ngModel
        >
        <label class="form-check-label" for="flexRadioDefault2">
          Female
        </label>
      </div>
    </div>

    <div class="col-5 mb-3">
      <select
        class="form-select"
        name="size"
        aria-label="Default select example"
        ngModel
        required
        #sizeSelect="ngModel"
      >
        <option value="">T-shirt size</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
      </select>
      <small
        *ngIf="sizeSelect.touched && sizeSelect.errors?.required"
        class="form-text invalid-form-text">
        Select your size
      </small>
    </div>

    <div class="form-floating col-8 mb-3">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingTextarea"
        name="comments"
        required
        ngModel
        maxlength="300"
        (keyup)="onCharactersCount()"
        #commentsText="ngModel"
      ></textarea>
      <small
        *ngIf="commentsText.touched && commentsText.errors?.required"
        class="form-text invalid-form-text">
        Enter your comments
      </small>
      <label for="floatingTextarea">Comments</label>
      <div class="form-text">
        Characters: {{ comments }}
      </div>
    </div>
    <button *ngIf="loading" class="btn btn-success" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
    <button
      *ngIf="!loading"
      type="submit"
      class="btn btn-success"
      [disabled]="registerForm.invalid"
    >{{applicationId? 'Edit application' : 'Submit'}}</button>
  </form>
</div>
